AWS_REGION=us-east-2
AWS_PROFILE=anekur-admin
BEDROCK_REGION=us-east-1
S3_BUCKET_NAME=aws-rag-poc-documents-ACCOUNT-us-east-2
S3_INPUT_PREFIX=input/
BEDROCK_EMBEDDING_MODEL_ID=amazon.titan-embed-text-v2:0
OPENSEARCH_COLLECTION_ENDPOINT=https://your-collection-endpoint.us-east-2.aoss.amazonaws.com
OPENSEARCH_INDEX_NAME=claims-rag-index
